<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.klimber" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>klimber</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="dermo.html" />


<plugin name="cordova-plugin-whitelist"      source="npm" spec="1.1.0" />
<allow-navigation href="*" />
<allow-intent href="*" />
<access origin="http://klimber.cloud/appli/video-player.php?id=UjUEV-4QGFQ" /> <!-- Required for iOS9 -->
</widget>
